{# <footer class="p-12 fixed bottom-4 right-3">
    <p class="font-sans text-sm">This project is part of <a class="underline" href="https://computationalmama.xyz" target="_blank">Computational Mama's</a> explorations in coding and care.</p>
</footer> #}

<h1 class="fixed bottom-0 font-mono text-gray-400 font-bold uppercase overflow-hidden lg:text-6xl lg:-mb-20 md:text-5xl md:-mb-14 sm:text-7xl sm:-mb-12">coding with friends * coding with friends</h1>
