{# <footer class="p-12 fixed bottom-4 right-3">
    <p class="font-sans text-sm">This project is part of <a class="underline" href="https://computationalmama.xyz" target="_blank">Computational Mama's</a> explorations in coding and care.</p>
</footer> #}

<h1 class="fixed bottom-0 font-mono text-gray-400 font-bold uppercase overflow-hidden 2xl:text-6xl 2xl:-mb-4 xl:text-6xl xl:-mb-4 lg:text-6xl lg:-mb-20 md:text-6xl md:-mb-20 sm:text-7xl sm:-mb-12 tracking-tighter">coding with friends * coding with friends</h1>
