<ul class="pb-16 max-w-prose">
  {% for friend in friendslist %}
    <li class="py-12 lg:py-6 border-b">
      <strong>
        <a class="font-sans lg:text-3xl md:text-7xl sm:text-7xl no-underline hover:bg-pink-50" href="{{ friend.url | url }}">{{ friend.data.title }}</a>
      </strong>
      <br>
      <span class="lg:text-xl md:text-5xl sm:text-5xl">{{ friend.data.description }}</span>
      <br>
      <time class="lg:text-sm md:text-3xl sm:text-3xl" datetime="{{ friend.date | htmlDateString }}">{{ friend.date | readableDate }}</time>
    
    </li>
  {% endfor %}
</ul>
