    <ul class="font-sans font-light lg:text-2xl md:text-6xl sm:text-6xl pb-16">
      {% for friend in friendslist.slice(0,2) %}
        <li class="lg:pb-1 sm:pb-4 flex flex-row items-center">
          {% if friend.data.profileimg %}
<img class="md:w-36 md:h-36 lg:w-24 lg:w-24 2xl:h-24 2xl:h-24 object-cover rounded-full" src="{{ friend.data.profileimg }}" alt="test">
{% endif %}
          <strong class="pl-10">
            <a class="no-underline" href="{{ friend.url | url }}">{{ friend.data.title }}</a>
          </strong>
        
        </li>
      {% endfor %}
    </ul>