<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b">
  <a href="/" class="font-sans font-black uppercase text-xl tracking-tight sm:text-4xl no-underline">Home</a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {% for entry in navPages %}
      <li class="inline">
        <a
         href="{{ entry.url }}"
         class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
         {{'bg-white text-black' if entry.url in page.url
         else 'text-gray-700 hover:text-gray-900'}} sm:text-4xl no-underline">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
        <li class="inline">
        <a
         href="https://twitch.tv/computational_mama" target="_blank"
         class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block sm:text-4xl no-underline">
         Twitch
       </a>
      </li>
 </ul>
</nav>
