<ul class="font-sans font-light lg:text-2xl sm:text-6xl pb-16">
  {% for post in postslist %}
    <li class="lg:pb-1 sm:pb-4">
      <strong>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
    </li>
  {% endfor %}
</ul>