<ul class="pb-16">
  {% for post in postslist %}
    <li class="py-8 lg:py-2">
      <strong>
        <a class="font-sans lg:text-3xl md:text-7xl sm:text-7xl underline hover:bg-pink-50" href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
      -
      <time class="lg:text-sm md:text-3xl sm:text-3xl" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      -
      <span class="lg:text-xl md:text-5xl sm:text-5xl">{{ post.data.description }}</span>
    </li>
  {% endfor %}
</ul>
