---
layout: layouts/base.njk
---
<div class="lg:max-w-prose md:max-w-full sm:max-w-full">
<h3>{{ date | readableDate }}</h3>
<h1 class="lg:text-3xl md:text-6xl sm:text-6xl font-bold lg:py-4 md:py-8 sm:py-8">{{ title }}</h1>
<p class="lg:text-xl md:text-6xl sm:text-6xl">{{ content | safe }}</p>
</div>