---
title: About
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---
<h1 class="font-sans font-bold lg:text-4xl md:text-7xl sm:text-7xl pb-6">{{ title }}<h1> 

<p class="font-sans lg:text-2xl md:text-5xl sm:text-5xl md:leading-loose sm:leading-loose md:pb-14 sm:pb-14 lg:pb-6">

What does it mean to have a simple intimate  chat over a shared activity? Does creating with code only serve its purpose towards an output? Can the act of two friends coding together mean more than a product, a production or a performance? 
Coding with Friends is an ongoing series of live streams with womxn makers and creators. These are one on one sessions, where Computational Mama invites a friend and they code together. It is a casual meeting of friends (old and new) where the act of coding together can be equated to making dimsums or folding paper cranes or even playing a board game. 
As the live stream unfolds, a small approachable project is live coded and developed together, generally related to the field of work of the invited guest. The coding session is accompanied by e discussing various aspects of work/life/and things in between. Much like meeting a friend - the agenda need not be too specific, and has an opportunity to steer in any direction. 
Coding with Friends casually and simply claims space for womxn creators. The series extends the idea of co-coding as a form of camaraderie, friendship and self-care. 

</p>
