---
title: Friends
layout: layouts/base.njk
permalink: /friends/
eleventyNavigation:
  key: Friends
  order: 0
---
{% set friendslist = collections.friends | reverse %}
{% include "components/friendslist.njk" %}
