---
title: Oops! Not Found
layout: layouts/base.njk
permalink: 404.html
---
<div class="font-sans 2xl:max-w-prose 2xl:text-2xl xl:text-2xl xl:max-w-prose lg:max-w-prose lg:text-2xl md:text-5xl sm:text-5xl md:leading-loose sm:leading-loose md:pb-14 sm:pb-14 lg:pb-6">
<p>No friends here!!!</p>
<image class="w-1/2" src="/images/404.jpg">
</div>